# Some of my pillow scripts and my OWN future pawn piece
my_resources/

# Why would you need 
__pycache__/

resources/pieces/neo

# Just some kind of python x logic file for organizing atd you could say a whiteboard but in a file
abc.txt